{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href={% static 'favicon.ico' %}>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

    {% block styles %}
    {% tailwind_preload_css %}
    {% tailwind_css %}
    {% endblock styles %}

    {% block title %}
    <title>Annuaire</title>
    {% endblock title %}
	</head>

	<body class="font-sans leading-normal tracking-normal w-screen min-h-screen">
		<div class="flex w-screen min-h-screen justify-center items-start">
      {% include 'navigation.html' %}
      {% block content %}In Progress{% endblock content %}
		</div>
	</body>
</html>
