{% extends 'base.html' %} {% load static tailwind_tags %}

{% block styles %}
  {% tailwind_preload_css %}
  {% tailwind_css %}
{% endblock styles %}

{% block content %}
<main class="flex min-h-screen h-full w-full items-center justify-center">
  <aside class="flex min-h-screen h-full w-80 items-center justify-center bg-amber-200">aside</aside>
  <article class="flex min-h-screen h-full w-full items-center justify-center bg-slate-900">
    {% block topic %}Welp{% endblock topic %}
  </article>
</main>
{% endblock content %}